/*.button {
    padding: 10px, 15px;
    background-color: rgb(38, 121, 38);
    color: var(--tg-theme-button-text-color);
    border:none;
    outline:none;
    cursor: pointer;
     padding: 0.6rem 0.8rem;

      width: 120px;
    margin-left: 10px;
} */

:root {
    --primary-color: #e0c521;
  }
  
  .btn {
    padding: 0.6rem 0.8rem;
    align-items: end;
    font-size: 1.2rem;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 1px -3px 52px -5px rgba(0, 0, 0, 0.77);
    cursor: pointer;
  }
  
  
  .btn.remove {
    background-color: tomato;
  }
  
  .btn.add {
    align-self: flex-end;
    background-color: rgb(38, 121, 38);
    width: 150px;
    color: #fff;
    font-size: 14px;
  }
  
  .btn:active {
    transform: scale(0.98);
  }
  
  .btn.remove:hover {
    background-color: rgb(209, 83, 61);
  }
  .btn.remove:active {
    background-color: rgb(185, 73, 54);
  }
  
  .btn.add:hover {
    background-color: rgb(41, 141, 41);
  }
  .btn.add:active {
    background-color: rgb(30, 93, 41);
  }