.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
  }
  
  .heading {
    font-size: 20px;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
  }
  
  .select {
    padding: 10px;
    margin-bottom: 15px;
  }
  
  .label {
    font-weight: bold;
    margin-bottom: 5px;
  }