.product-details {
    display: flex;
    flex-direction:column;
    align-items: center;
    
    margin: 20px;
  }
  
  .description {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-top: 10px;
    text-align: justify;
  }
  
  .pages {
    font-size: 14px;
    margin-top: 5px;
    margin-left: auto;
    
  }
 
  .add-btn{
    background-color: rgb(38, 121, 38);
    /* width: 150px; */
     color: #fff;
     font-size: 14px;
  }
  
  /*.format{
    margin-right: auto;
  }*/

  .publisher-year-container {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 16px;
    
  }

  .format-pages-container {
    padding-top: 1em;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 16px;
  }

  .rating {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    align-items: center;
  }
  
  .star {
    font-size: 24px;
    color: grey;
    cursor: pointer;
  }
  
  .filled-star {
    color: #f8ce0b;
  }

  .button-container {
    display: flex;
    justify-content: flex-end; 
    width: 100%;
    margin-top: 10px;
  }

  .img {
    margin-bottom: 60px;
    width: 100%;
    text-align: center;
  }
  
  .img img {
    max-width: 100%;
    max-height: 400px; 

    justify-content:center;
  } 
  /*margin: 0 auto; */

  .det_title{
    text-align: center;
  margin-top:160px;
  font-size: 19px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  
  }