.product-details {
    display: flex;
    flex-direction:column;
    align-items: center;
    
    margin: 20px;
  }
  
  .description {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-top: 10px;
    text-align: justify;
  }
  
  .pages {
    font-size: 16px;
    margin-top: 5px;
    margin-left: auto;
    
  }
 
 /* .add-btn{
    background-color: rgb(38, 121, 38);
     color: #fff;
     font-size: 14px;
  }*/
  
  .publisher-year-container {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 16px;
    
  }
  .format-pages-container {
    padding-top: 1em;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 17px;
  }

  .rating{
    margin-top: auto;
    align-self: flex-end;
  }
  
  .star {
    font-size: 24px;
    color: grey;
    cursor: pointer;
  }
  
  .filled-star {
    color: #f8ce0b;
  }

  .button_container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    
  }
 

  .img {
    margin-bottom: 60px;
    width: 100%;
    text-align: center;
  }
  
  .img img {
    max-width: 100%;
    max-height: 400px; 

    justify-content:center;
  } 
  .det_title{
    text-align: center;
  margin-top:160px;
  font-size: 19px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  
  }