/*.product {
    display:flexbox;
    flex-direction:column;
    border: 1px solid var(--tg-theme-button-color);
    padding: 15px;
    width: 170px;
   
}*/
.product {
  border-width: 1px;
  border-style:solid;
  border-color: var(--tg-theme-button-color);
  padding: 15px;
  width: 190px;
  margin:auto;
  flex-direction:column;
}

.img {
    width: 100px;
    height: 200px;
    margin: 0 auto;
    text-align: center;
  }
  
  .img img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  

.add-btn {
    width: 100%;
    background-color: rgb(38, 121, 38);
    color: #fff;
    font-size: 14px;
    margin:auto;
}

.title {
    text-align: center;
}

.details-link{
    text-align: right;
    color: var(--tg-theme-text-color);
}